@charset "UTF-8";
/* --------- GENERALES -------------- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Raleway", sans-serif;
}

a {
  text-decoration: none;
}

/* ---------- HEADER -----------*/
.encabezado {
  z-index: 10060;
  display: grid;
  height: 10rem;
  justify-items: stretch;
  background-image: url(../images/collage.jpg);
  background-size: contain;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: "titulo menu";
}

.titulo_principal {
  grid-area: titulo;
  font-weight: 900;
  font-size: 3.8rem;
  justify-self: start;
  align-self: start;
  margin-left: 2rem;
  margin-top: 2rem;
  background-color: #dad5d5;
}

.menu {
  grid-area: menu;
  list-style-type: none;
  font-weight: 700;
  font-size: 2.5rem;
  justify-self: end;
  align-self: end;
  margin-right: 2rem;
  margin-bottom: 2rem;
}
.menu li {
  display: inline-block;
  background-color: #dad5d5;
  color: #111111;
}
.menu li:hover {
  background-color: rgb(202, 42, 42);
  color: #ffffff;
  text-decoration: underline;
}
.menu a:visited {
  color: inherit;
}

/* ----------- INDEX ----------------- */
.cuerpo {
  background-color: #ffffff;
}

.carou_i img {
  height: 30rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.carou_i a {
  font-size: 2rem;
  font-weight: 700;
}
.carou_i a:hover {
  background-color: rgb(202, 42, 42);
  color: #ffffff;
}
.carou_i a:visited {
  color: inherit;
}

.nm {
  display: flex;
  flex-direction: row-reverse;
  height: 100%;
  align-items: center;
  margin: 4rem;
  outline: outset 2.5rem;
  outline-color: #dad5d5;
  padding-left: 3rem;
  padding-right: 3rem;
}

.foto_inicio {
  width: 40rem;
  height: 55rem;
}

.texto_inicio {
  color: #333333;
  padding-right: 10rem;
}
.texto_inicio h2 {
  font-size: 4rem;
  margin-bottom: 3rem;
  text-decoration: underline;
}
.texto_inicio p {
  margin-top: 2rem;
  font-size: 1.8rem;
}

/* -------------- BIOGRAPHY ------------------- */
.bio {
  background-color: rgb(202, 42, 42);
}
.bio h2 {
  font-size: 3rem;
  text-align: center;
  padding: 2rem 0;
  color: #111111;
  font-weight: 800;
}
.bio p {
  font-size: 1.5rem;
  margin: 5rem;
  color: #333333;
}

.pin_castle {
  width: 30rem;
  height: 30rem;
}

.texto_bio {
  display: flex;
  flex-direction: row;
  padding: 2rem 7rem;
  align-items: center;
  background-color: #a7a7a7;
}

.pin_cara {
  width: 25rem;
  height: 25rem;
}

.segundo_tbio {
  display: flex;
  flex-direction: row-reverse;
  padding: 2rem 7rem;
  align-items: center;
  background-color: #ffffff;
}

.tercer_tbio {
  display: flex;
  flex-direction: row;
  padding: 2rem 7rem;
  align-items: center;
  background-color: #a7a7a7;
}

/* -------------- PINTURAS ------------------- */
.textopin {
  display: flex;
  justify-content: space-around;
  padding: 2rem;
  background-color: rgb(202, 42, 42);
}
.textopin p {
  font-size: 2.5rem;
  font-weight: bold;
}

.container_pin {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  margin: 6rem;
}

.pin {
  border-radius: 1rem;
}
.pin:hover {
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
}
.pin figure {
  overflow: hidden;
}
.pin img {
  width: 100%;
  height: 30rem;
  object-fit: contain;
  border-radius: 1rem 1rem 0 0;
  transition: all 0.5s;
}
.pin img:hover {
  transform: scale(1.2);
}

.pin_info {
  padding: 1rem 6rem;
  line-height: 2;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.pin_info button {
  border: none;
  background: none;
  background-color: #000;
  color: #ffffff;
  padding: 1.5rem 1rem;
  cursor: pointer;
}

.price {
  font-size: 1.8rem;
  font-weight: 900;
}

/* -------------- SHOP ------------------- */
.carrito {
  height: 80rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: "compra carri";
}

.carri {
  background-color: rgb(202, 42, 42);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
}

.vacio {
  width: 60rem;
  height: 40rem;
}

.compra {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-content: center;
}
.compra h2 {
  color: #333333;
  font-size: 3rem;
  font-weight: 900;
  padding-bottom: 3rem;
}
.compra p {
  color: #333333;
  font-size: 3rem;
  font-weight: 500;
}

/* -------------- CONTACTO ------------------- */
.mensaje {
  height: 80rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "formulario textoContacto";
}

.textoContacto {
  grid-area: textoContacto;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  align-items: center;
}
.textoContacto h3 {
  font-size: 4rem;
  font-weight: 900;
  padding-bottom: 2rem;
}
.textoContacto p {
  font-size: 2.5rem;
  padding-left: 4rem;
  padding-right: 4rem;
}

.formulario {
  grid-area: formulario;
  background-color: rgb(202, 42, 42);
  color: #333333;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  font-size: 3rem;
  font-weight: 700;
}

.form-group {
  width: 60rem;
}

.form-control {
  font-size: 2rem;
  height: 7rem;
  margin-bottom: 2rem;
}

.btn {
  height: 5rem;
  width: 7rem;
  font-size: 1.5rem;
}

/* --------------- FOOTER ----------------- */
.pdp {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: flex-end;
  background-color: #dad5d5;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 7rem;
}
.pdp h4 {
  margin-right: 8rem;
  font-size: 1.7rem;
  font-weight: bold;
}
.pdp .fb {
  width: 2rem;
  height: 2rem;
  margin-right: 8rem;
}
.pdp .ig {
  width: 2rem;
  height: 2rem;
  margin-right: 8rem;
}

/* Responsive */
/* ----------------------------------------- */
@media screen and (max-width: 1640px) {
  /* pinturas */
  .pin_info {
    padding: 0rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    gap: 1rem;
  }
  .pin_info h2 {
    margin-left: 1rem;
  }
  .pin_info button {
    padding: 1rem 1rem;
    margin: 1rem;
  }
  .price {
    font-size: 1.5rem;
    margin-left: 1rem;
  }
}
/* ----------------------------------------- */
@media screen and (max-width: 1570px) {
  /* header */
  .encabezado {
    background-size: cover;
  }
  .menu {
    font-size: 2.2rem;
  }
}
/* ----------------------------------------- */
@media screen and (max-width: 1330px) {
  /*  header  */
  .menu {
    font-size: 2rem;
    margin-right: 1rem;
    margin-bottom: 1rem;
  }
  /*  pinturas  */
  .container_pin {
    margin: 2rem;
    margin-top: 4rem;
  }
  .pin_info {
    padding: 0rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
  .pin_info h2 {
    margin-left: 1rem;
  }
  .pin_info button {
    padding: 1rem 1rem;
    margin: 1rem;
  }
  .price {
    font-size: 1.5rem;
    margin-left: 1rem;
  }
  /*  shop  */
  .carrito {
    height: 70rem;
  }
  .vacio {
    width: 50rem;
    height: 30rem;
  }
  .compra h2 {
    font-size: 2.6rem;
  }
  .compra p {
    font-size: 2.6rem;
  }
  /*  contacto  */
  .mensaje {
    height: 70rem;
  }
  .textoContacto h3 {
    font-size: 3.5rem;
  }
  .textoContacto p {
    font-size: 2rem;
  }
  .formulario {
    font-size: 2.5rem;
  }
  .form-group {
    width: 50rem;
  }
  .form-control {
    font-size: 1.5rem;
    height: 5rem;
  }
  .btn {
    font-size: 1.1rem;
  }
  /*  footer  */
  .pdp {
    height: 6rem;
  }
}
/* -------------------------------------------------------------- */
@media screen and (max-width: 1230px) {
  /* header */
  .encabezado {
    grid-template-columns: 1fr 1.5fr;
  }
  .titulo_principal {
    font-size: 3.5rem;
  }
  .menu {
    font-size: 2.5rem;
  }
  /* pinturas */
  .container_pin {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 4rem;
    margin: 6rem;
  }
}
/* ---------------------------------------------------------- */
@media screen and (max-width: 1092px) {
  /* header */
  .menu {
    font-size: 2.3rem;
  }
}
@media screen and (max-width: 1036px) {
  /* index */
  .texto_inicio {
    padding-right: 4rem;
  }
  /* shop */
  .compra p {
    font-size: 2rem;
  }
  /* contacto */
  .form-group {
    width: 40rem;
  }
}
/* ---------------------------------------------------------- */
@media screen and (max-width: 1008px) {
  /* header */
  .encabezado {
    grid-template-columns: 1fr 2fr;
  }
  /* index */
  .nm {
    display: flex;
    flex-direction: column-reverse;
    height: 100%;
    margin: 4rem;
    outline-color: #dad5d5;
    padding: 3rem;
    flex-wrap: nowrap;
    align-items: center;
  }
  .foto_inicio {
    padding-top: 2rem;
  }
}
/* ---------------------------------------------------------- */
@media screen and (max-width: 926px) {
  /* header */
  .encabezado {
    grid-template-columns: 1fr 2.5fr;
  }
  .titulo_principal {
    font-size: 2.5rem;
  }
  .menu {
    font-size: 1.8rem;
  }
  /* pinturas */
  .container_pin {
    margin: 2rem;
  }
  /* carrito */
  .vacio {
    width: 30rem;
    height: 15rem;
  }
}
/* -------- Responsive celu -------- */
/* Header */
@media screen and (max-width: 480px) {
  .encabezado {
    display: grid;
    height: 30rem;
    margin-bottom: 5rem;
    justify-items: stretch;
    background-image: url(../images/C11.jpeg);
    background-size: cover;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "titulo" "menu";
  }
  /* Index */
  .titulo_principal {
    grid-area: titulo;
    justify-self: center;
    font-size: 3rem;
  }
  .menu {
    margin-top: 1rem;
    grid-area: menu;
    justify-self: center;
    font-size: 2rem;
  }
  .menu li {
    display: flex;
    margin: 0.3rem;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 0.5rem;
    margin-left: 1rem;
  }
  .foto_inicio {
    width: 25rem;
    height: 30rem;
    margin-top: 5rem;
  }
  .texto_inicio {
    display: flex;
    height: 50rem;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: flex-start;
  }
  .texto_inicio h2 {
    font-size: 3rem;
    text-align: center;
    padding-top: 2rem;
  }
  .texto_inicio p {
    margin: 1rem;
  }
  /* Biografía */
  .bio h2 {
    font-size: 2rem;
  }
  .texto_bio {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    padding: 0;
  }
  .segundo_tbio {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    padding: 0;
  }
  /* Galería */
  .container {
    display: grid;
    grid-template-columns: repeat(4, 9rem);
    grid-template-rows: repeat(5, 9rem);
    justify-content: center;
    padding-top: 5rem;
    padding-bottom: 13rem;
    gap: 1rem;
    grid-template-areas: "cuadrado naranja naranja costado" "pez naranja naranja costado" "largo hombre disco azul" "largo hombre oscuro oscuro" "largo estadio estadio multi";
  }
  .container .costado {
    grid-area: costado;
    background-image: url(../images/C62.jpeg);
    background-position: center left;
    background-size: cover;
  }
  .container .azul {
    grid-area: azul;
    background-image: url(../images/C44.jpeg);
    background-position: center;
    background-size: contain;
  }
  .container .oscuro {
    grid-area: oscuro;
    background-image: url(../images/C15.jpeg);
    background-size: cover;
    background-position: center;
  }
  .container .disco {
    grid-area: disco;
    background-image: url(../images/C33.jpeg);
    background-size: cover;
    background-position: center;
  }
  .container .naranja {
    grid-area: naranja;
    background-image: url(../images/C59.jpeg);
    background-size: cover;
    background-position: center;
  }
  .container .cuadrado {
    grid-area: cuadrado;
    background-image: url(../images/C9.jpeg);
    background-size: cover;
    background-position: center;
  }
  .container .pez {
    grid-area: pez;
    background-image: url(../images/C8.jpeg);
    background-size: cover;
    background-position: center;
  }
  .container .largo {
    grid-area: largo;
    background-image: url(../images/C28.jpeg);
    background-size: contain;
  }
  .container .estadio {
    grid-area: estadio;
    background-image: url(../images/C55.jpeg);
    background-size: cover;
    background-position: center;
  }
  .container .multi {
    grid-area: multi;
    background-image: url(../images/C41.jpeg);
    background-size: cover;
    background-position: center;
  }
  .container .hombre {
    grid-area: hombre;
    background-image: url(../images/C43.jpeg);
    background-size: cover;
    background-position: center;
  }
  .fondo_p {
    background: rgb(66, 121, 158);
    background: radial-gradient(circle, rgb(66, 121, 158) 50%, rgb(47, 100, 136) 70%);
  }
  /* Carrito */
  .carro {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row-reverse;
  }
  .carro h2 {
    color: #333333;
    font-size: 3rem;
  }
  .carri {
    width: 10rem;
    height: 10rem;
  }
  /* Contacto */
  .mensaje {
    height: 50rem;
  }
  .mensaje p {
    color: #333333;
    font-size: 2rem;
    font-weight: bold;
    margin-left: 2rem;
  }
  .mensaje .formulario {
    margin: 4rem;
    color: #333333;
    font-size: 2rem;
    text-align: right;
  }
  /* Pié de página */
  .pdp {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: flex-end;
    font-weight: bold;
    font-size: 1.7rem;
    background-image: none;
    background-color: #dad5d5;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 5rem;
  }
  .pdp h4 {
    margin-right: 8rem;
    color: #333333;
  }
  .fb {
    width: 2rem;
    height: 2rem;
    margin-right: 8rem;
  }
  .ig {
    width: 2rem;
    height: 2rem;
    margin-right: 8rem;
  }
}

/*# sourceMappingURL=styles.css.map */
