/* --------- GENERALES -------------- */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

body{
font-family: 'Raleway', sans-serif;
}

a{
    text-decoration: none;
}

/* ----------- INDEX ----------------- */

.cuerpo{
    background-color: #ffffff;
}

.carou_i{
    img{
        height: 30rem;
        margin-top: 1rem;
        margin-bottom: 1rem;
    }
    a{
        font-size: 2rem;
        font-weight: 700;
        &:hover{
            background-color: $colorTerciario;
            color: #ffffff;
        }
        &:visited{
            color: inherit;
        }
    }
}

.nm{
    display: flex;
    flex-direction: row-reverse;
    height: 80rem;
    align-items: center;
    margin: 4rem;
    outline: outset 2.5rem;
    outline-color: $colorSecundario;
    padding-left: 3rem;
    padding-right: 3rem;
}

.foto_inicio{
    width: 40rem;
    height: 55rem;
}

.texto_inicio{
    color: $colorTextos;
    padding-right: 10rem;
    h2{
        font-size: 4rem;
        margin-bottom: 3rem;
        text-decoration: underline;
    }
    p{
        margin-top: 2rem;
        font-size: 1.8rem;
    }
}


/* -------------- BIOGRAPHY ------------------- */

.bio{
    background-color: $colorTerciario;
    h2{
    font-size: 3rem;
    text-align: center;
    padding: 2rem 0;
    color: #111111;
    font-weight: 800;
    }
    p{
        font-size: 1.5rem;
        margin: 5rem;
        color: $colorTextos;
    }
}

.pin_castle{
    width: 30rem;
    height: 30rem;
}

.texto_bio{
    display: flex;
    flex-direction: row;
    padding: 2rem 7rem;
    align-items: center;
    background-color: #a7a7a7;
}

.pin_cara{
    width: 25rem;
    height: 25rem;
}

.segundo_tbio{
    display: flex;
    flex-direction: row-reverse;
    padding: 2rem 7rem;
    align-items: center;
    background-color: #ffffff;
}

.tercer_tbio{
    display: flex;
    flex-direction: row;
    padding: 2rem 7rem;
    align-items: center;
    background-color: #a7a7a7;
}

/* -------------- PINTURAS ------------------- */

.textopin{
    display: flex;
    justify-content: space-around;
    padding: 2rem;
    background-color: $colorTerciario;
    p{
        font-size: 2.5rem;
        font-weight: bold;
    }
}

.container_pin{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    margin: 6rem;
}

.pin{
    border-radius: 1rem;
    &:hover{
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.20);
    }
    figure{
    overflow: hidden;
    }
    img{
    width: 100%;
    height: 30rem;
    object-fit: contain;
    border-radius: 1rem 1rem 0 0;
    transition: all .5s;
        &:hover{
        transform: scale(1.2);
        }
    }
}

.pin_info{
    padding: 1rem 6rem;
    line-height: 2;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    button{
    border: none;
    background: none;
    background-color: #000;
    color: #ffffff;
    padding: 1.5rem 1rem;
    cursor: pointer;
    }
}

.price{
    font-size: 1.8rem;
    font-weight: 900;
}


/* -------------- SHOP ------------------- */

.carrito{
    height: 80rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: 
    "compra carri";
}

.carri{
    background-color: $colorTerciario;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
} 

.vacio{
    width: 60rem;
    height: 40rem; 
}

.compra{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-content: center;
    h2{
        color: $colorTextos;
        font-size: 3rem;
        font-weight: 900;
        padding-bottom: 3rem;
    }
    p{
        color: $colorTextos;
        font-size: 3rem;
        font-weight: 500;
    }
}


/* -------------- CONTACTO ------------------- */

.mensaje{
    height: 80rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
    "formulario textoContacto";
}

.textoContacto{
    grid-area: textoContacto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
    h3{
        font-size: 4rem;
        font-weight: 900;
        padding-bottom: 2rem;
    }
    p{
        font-size: 2.5rem;
        padding-left: 4rem;
        padding-right: 4rem;
    }
}

.formulario{
    grid-area: formulario;
    background-color: $colorTerciario;
    color: $colorTextos;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    font-size: 3rem;
    font-weight: 700;
}

.form-group{
    width: 60rem;
}

.form-control{
    font-size: 2rem;
    height: 7rem;
    margin-bottom: 2rem;
}

.btn{
    height: 5rem;
    width: 7rem;
    font-size: 1.5rem;
}




/* --------------- FOOTER ----------------- */

.pdp{
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: flex-end;
    background-color: #dad5d5;
    /* position: fixed; */
    bottom: 0;
    left: 0;
    width: 100%;
    height: 7rem;
    h4{
        margin-right: 8rem;
        font-size: 1.7rem;
        font-weight: bold;
    }
    .fb{
        width: 2rem;
        height: 2rem;
        margin-right: 8rem;
    }
    .ig{
        width: 2rem;
        height: 2rem;
        margin-right: 8rem;
        }
}

/* ---------- GRID ------------------- */

/* Estructura grid header */

.encabezado{
    z-index: 10060;
    display: grid;
    height: 10rem;
    justify-items: stretch;
    background-image: url(../images/collage.jpg);
    background-size: contain;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: 
    "titulo menu"
}

.titulo_principal{
    grid-area: titulo;
    font-weight: 900;
    font-size: 3.8rem;
    justify-self: start;
    align-self: start;
    margin-left: 2rem;
    margin-top: 2rem;
    background-color: $colorSecundario;
}

.menu{
    grid-area: menu;
    list-style-type: none;
    font-weight: 700;
    font-size: 2.5rem;
    justify-self: end;
    align-self: end;
    margin-right: 2rem;
    margin-bottom: 2rem;
    li{
        display: inline-block;
        background-color: $colorSecundario;
        &:hover{
            background-color: $colorTerciario;
            color: #ffffff;
            text-decoration: underline;
        }
    }
    a{
        &:visited{
            color: inherit;
        }
    }
}
